body{
    background-color: #D0E1FF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    color: #6c42d6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #C678FA;
    color: rgb(36, 36, 36);
    border-radius: 50px;
    border-style: groove;
    margin: 0 auto 25px auto; 
    padding: 10px;
    max-width: 60%;
}

.menu{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;        
    gap: 20px;
    background-color: #F178FA;
    padding: 1% 3%;
}

.l-menu{
    background-color: #D8CBFA;
    padding: 20px;
    text-decoration: none;
}

#inform, #sobreh, #form, #hab, #redes-sociais{
    background-color: #F178FA;
    padding: 5px 10px;
    margin: 40px 5px 10px 5px;
    border-radius: 10px;
}

#info, #formacao, #comp{
    background-color: #AEB2FC;
    color: rgb(34, 34, 34);
    padding: 30px 40px;
}

.sobre{
    background-color: #AEB2FC;
    color: rgb(34, 34, 34);
    padding: 15px 20px 20px 20px;
}

.redess{
    margin: 30px;
    text-decoration: none;
}

footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #AEB2FC;
    padding: 20px;
}
